/*	CSSGrid
 *  https://github.com/crowdfavorite/css-grid
 *	License: http://opensource.org/licenses/mit-license.php  */

/** grid foundation
 -------------------------------------------------- */
.grid {
	margin: 0 auto;
	/* this makes the page wide but keeps content away from the edge */
	padding: 12px;
}

/* fluid media */
.row img,
.row object,
.row embed,
.row video {
	max-width: 100%;
}

/* 	Default Desktop/Tablet Grid
	Works fine with older browsers that don't support media queries. */
	.grid {
		width: 100%;
	}
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,
	.c1-2,.c2-3,.c3-4,.c4-5,.c5-6,.c6-7,.c7-8,.c8-9,.c9-10,.c10-11,.c11-12,
	.c1-3,.c2-4,.c3-5,.c4-6,.c5-7,.c6-8,.c7-9,.c8-10,.c9-11,.c10-12,
	.c1-4,.c2-5,.c3-6,.c4-7,.c5-8,.c6-9,.c7-10,.c8-11,.c9-12,
	.c1-5,.c2-6,.c3-7,.c4-8,.c5-9,.c6-10,.c7-11,.c8-12,
	.c1-6,.c2-7,.c3-8,.c4-9,.c5-10,.c6-11,.c7-12,
	.c1-7,.c2-8,.c3-9,.c4-10,.c5-11,.c6-12,
	.c1-8,.c2-9,.c3-10,.c4-11,.c5-12,
	.c1-9,.c2-10,.c3-11,.c4-12,
	.c1-10,.c2-11,.c3-12,
	.c1-11,.c2-12,
	.c1-12	{
		margin-left: 1%;
		display: inline;
		float: left;
		min-height: 1px;
	}

/* 	1/12 */
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12 { width: 7.33%; }
	.offset1 { margin-left: 8.33%; }
/* 	2/12 */
	.c1-2,.c2-3,.c3-4,.c4-5,.c5-6,.c6-7,.c7-8,.c8-9,.c9-10,.c10-11,.c11-12 { width: 15.66%; }
	.offset2 { margin-left: 16.66%; }
/* 	3/12 */
	.c1-3,.c2-4,.c3-5,.c4-6,.c5-7,.c6-8,.c7-9,.c8-10,.c9-11,.c10-12 { width: 23.99%; }
	.offset3 { margin-left: 24.99%; }
/* 	4/12 */
	.c1-4,.c2-5,.c3-6,.c4-7,.c5-8,.c6-9,.c7-10,.c8-11,.c9-12 { width: 32.32%; }
	.offset4 { margin-left: 33.32%; }
/* 	5/12 */
	.c1-5,.c2-6,.c3-7,.c4-8,.c5-9,.c6-10,.c7-11,.c8-12 { width: 40.65%; }
	.offset5 { margin-left: 41.65%; }
/* 	6/12 */
	.c1-6,.c2-7,.c3-8,.c4-9,.c5-10,.c6-11,.c7-12 { width: 48.98%; }
	.offset6 { margin-left: 49.98%; }
/* 	7/12 */
	.c1-7,.c2-8,.c3-9,.c4-10,.c5-11,.c6-12 { width: 57.31%; }
	.offset7 { margin-left: 58.31%; }
/* 	8/12 */
	.c1-8,.c2-9,.c3-10,.c4-11,.c5-12 { width: 65.64%; }
	.offset8 { margin-left: 66.64%; }
/* 	9/12 */
	.c1-9,.c2-10,.c3-11,.c4-12 { width: 73.97%; }
	.offset9 { margin-left: 74.97%; }
/* 	10/12 */
	.c1-10,.c2-11,.c3-12 { width: 82.3%; }
	.offset10 { margin-left: 83.3%; }
/* 	11/12 */
	.c1-11,.c2-12 { width: 90.63%; }
	.offset11 { margin-left: 91.63%; }
/* 	12/12 */
	.c1-12 { width: 100%; }


/* 	Accounts for extra margin on first column
	This value should change a negative margin of whatever your gutter width is. */
.row {
	margin-left: -20px;
}


/* 	Single-column mobile
	Get rid of widths and floats, go to fluid single column. */
@media only screen and (max-width: 759px) {
	.grid,
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12,
	.c1-2,.c2-3,.c3-4,.c4-5,.c5-6,.c6-7,.c7-8,.c8-9,.c9-10,.c10-11,.c11-12,
	.c1-3,.c2-4,.c3-5,.c4-6,.c5-7,.c6-8,.c7-9,.c8-10,.c9-11,.c10-12,
	.c1-4,.c2-5,.c3-6,.c4-7,.c5-8,.c6-9,.c7-10,.c8-11,.c9-12,
	.c1-5,.c2-6,.c3-7,.c4-8,.c5-9,.c6-10,.c7-11,.c8-12,
	.c1-6,.c2-7,.c3-8,.c4-9,.c5-10,.c6-11,.c7-12,
	.c1-7,.c2-8,.c3-9,.c4-10,.c5-11,.c6-12,
	.c1-8,.c2-9,.c3-10,.c4-11,.c5-12,
	.c1-9,.c2-10,.c3-11,.c4-12,
	.c1-10,.c2-11,.c3-12,
	.c1-11,.c2-12,
	.c1-12	{
		display: block;
		float: none;
		margin-left: 0;
		width: auto;
	}
	.row {
		margin-left: 0;
	}
}

/* Zeroing out leftmost nested .unit margins */
[class*=c1] [class*=c1],
[class*=c2] [class*=c2],
[class*=c3] [class*=c3],
[class*=c4] [class*=c4],
[class*=c5] [class*=c5],
[class*=c6] [class*=c6],
[class*=c7] [class*=c7],
[class*=c8] [class*=c8],
[class*=c9] [class*=c9],
[class*=c10] [class*=c10],
[class*=c11] [class*=c11],
.c12 .c12,
.row .row {
	margin-left: 0;
}

/* Full-width  */
.c1-12 {
	clear: both;
	display: block;
	min-height: 1px;
}

/** grid utilities
 -------------------------------------------------- */
/* Row offsetfix
Uses variation of Nicolas Gallagher's Micro offsetfix.
http://nicolasgallagher.com/micro-offsetfix-hack/ */
.row:before,
.row:after {
	content:"";
	display:table;
}
.row:after {
	clear:both;
}
.row {
	/* Just in case: make sure that rows offset outside floats. */
	clear: both;
	/* For IE 6/7 (trigger hasLayout) */
	zoom:1;
}
