/*	CSSGrid
 *  https://github.com/crowdfavorite/css-grid
 *	License: http://opensource.org/licenses/mit-license.php  */

/** grid foundation
 -------------------------------------------------- */
.grid {
	margin: 0 auto;
	/* this makes the page wide but keeps content away from the edge */
	padding: 3%;
}

/* fluid media */
.row img,
.row object,
.row embed,
.row video {
	max-width: 100%;
}

.grid,
.c4-1,.c4-2,.c4-3,.c4-4,.c4-12,.c4-123, .c4-23,.c4-234,.c4-34,
.c6-1,.c6-2,.c6-3,.c6-4,.c6-5,.c6-6,
.c6-12,.c6-123,.c6-1234,.c6-12345,
.c6-23,.c6-234,.c6-2345,.c6-23456,
.c6-34,.c6-345,.c6-3456,
.c6-45,.c6-456,.c6-56 {
/* these should already be defaults
	display: block;
	width: auto;*/
}

/* SCSS Variables */

$margin: 2.85716%; /* 20px */

	/* Widths (for parent elemtents) */

	$sixth: 14.2857%;;
	$quarter: 22.85713%;
	$third: 31.42856%;
	$half: 48.57142%;
	$two-thirds: 65.71428%;
	$three-quarters: 74.28571%;
	$five-sixths: 82.85714%;

	/* Adjusted margins (for nested elements) */
	
	$third-margins: (100%/$third) * $margin;
	$half-margins: (100%/$half) * $margin;
	$two-thirds-margins: (100%/$two-thirds) * $margin;
	$three-quarters-margins: (100%/$three-quarters) * $margin;
	$five-sixths-margins: (100%/$five-sixths) * $margin;

/* Larger Displays */
@media only screen and (min-width: 740px) {
	.grid {
		padding: 2.7027%; /* 20px */
		width: 94.5946%; /* 700px */
	}
	.c4-1,.c4-2,.c4-3,.c4-4,.c4-12,.c4-123, .c4-23,.c4-234,.c4-34,
	.c6-1,.c6-2,.c6-3,.c6-4,.c6-5,.c6-6,
	.c6-12,.c6-123,.c6-1234,.c6-12345,
	.c6-23,.c6-234,.c6-2345,.c6-23456,
	.c6-34,.c6-345,.c6-3456,
	.c6-45,.c6-456,.c6-56 {
		display: inline; /* IE6/IE7 double-margin float bug fix */
		float: left;
		margin-left: $margin; /* 20px */
		/* Prevent collapsing of empty columns. Min-height prevents collapse
		everywhere but IE6. IE6 doesn't collapse empty collumns anyhow, so no need
		for a fix there. */
		min-height: 1px;
	}
	/* sixths */
	.c6-1,.c6-2,.c6-3,.c6-4,.c6-5,.c6-6 { width: $sixth; } /* 100px */
	/* quarters */
	.c4-1,.c4-2,.c4-3,.c4-4 { width: $quarter; } /* 160px */
	/* thirds */
	.c6-12,.c6-23,.c6-34,.c6-45,.c6-56 { width: $third; } /* 220px */
	/* halves */
	.c4-12,.c4-23,.c4-34,
	.c6-123,.c6-234,.c6-345,.c6-456 { width: $half } /* 340px */
	/* two-thirds */
	.c6-1234,.c6-2345,.c6-3456 { width: $two-thirds; } /* 460px */
	/* three-quarters */
	.c4-123,.c4-234 { width: $three-quarters; } /* 520px */
	/* five-sixths */
	.c6-12345,.c6-23456 { width: $five-sixths; } /* 580px */

	/* margins for nested elements (will) */

	/* Parent: one third */
		.c6-12 .c6-2,
		.c6-23 .c6-2, .c6-23 .c6-3,
		.c6-34 .c6-3, .c6-34 .c6-4,
		.c6-45 .c6-4, .c6-45 .c6-5,
		.c6-56 .c6-5, .c6-56 .c6-6 {
			margin-left: $third-margins;
		}

	/* Parent: half */

		.c4-12 .c4-2,
		.c4-23 .c4-2, .c4-23 .c4-3,
		.c4-34 .c4-3, .c4-34 .c4-4, 
		.c6-123 .c6-2, .c6-123 .c6-3,
		.c6-234 .c6-2, .c6-234 .c6-3, .c6-234 .c6-4,
		.c6-345 .c6-3, .c6-345 .c6-4, .c6-345 .c6-5,
		.c6-456 .c6-4, .c6-456 .c6-5, .c6-456 .c6-6,
		.c6-123 .c6-23,
		.c6-234 .c6-23, .c6-234 .c6-34,
		.c6-345 .c6-34, .c6-345 .c6-45,
		.c6-456 .c6-45, .c6-456 .c6-56 {
			margin-left: $half-margins;
		}

	/* Parent: two thirds */
		.c6-1234 .c6-2, .c6-1234 .c6-3, .c6-1234 .c6-4,
		.c6-2345 .c6-2, .c6-2345 .c6-3, .c6-2345 .c6-4, .c6-2345 .c6-5,
		.c6-3456 .c6-3, .c6-3456 .c6-4, .c6-3456 .c6-5, .c6-3456 .c6-6,
		.c6-1234 .c6-23, .c6-1234 .c6-34,
		.c6-2345 .c6-23, .c6-2345 .c6-34, .c6-2345 .c6-45,
		.c6-3456 .c6-34, .c6-3456 .c6-45, .c6-3456 .c6-56,
		.c6-1234 .c6-234,
		.c6-2345 .c6-234, .c6-2345 .c6-345,
		.c6-3456 .c6-345, .c6-3456 .c6-456 {
			margin-left: $two-thirds-margins;
		}

	/* Parent: three quarters */

		.c4-123 .c4-2, .c4-123 .c4-3, 
		.c4-234 .c4-2, .c4-234 .c4-3, .c4-234 .c4-4,
		.c4-123 .c4-23, .c4-123 .c4-34, 
		.c4-234 .c4-23, .c4-234 .c4-34 {
			margin-left: $three-quarters-margins;
		}

	/* Parent: five-sixths */

		.c6-12345 .c6-2, .c6-12345 .c6-3, .c6-12345 .c6-4, .c6-12345 .c6-5,
		.c6-12345 .c6-23, .c6-12345 .c6-34, .c6-12345 .c6-45,
		.c6-12345 .c6-234, .c6-12345 .c6-345,
		.c6-12345 .c6-2345,
		.c6-23456 .c6-2, .c6-23456 .c6-3, .c6-23456 .c6-4, .c6-23456 .c6-5, .c6-23456 .c6-6,
		.c6-23456 .c6-23, .c6-23456 .c6-34, .c6-23456 .c6-45, .c6-23456 .c6-45, .c6-23456 .c6-56,
		.c6-23456 .c6-234, .c6-23456 .c6-345, .c6-23456 .c6-346,
		.c6-23456 .c6-3456, {
			margin-left: $five-sixths-margins;
		}

	/* nested styles (good for 1 level deed) */

	/* children of c6-xxxxx */

		/* c6-xxxxx > 1/5 */
		.c6-12345 .c6-1, .c6-12345 .c6-2, .c6-12345 .c6-3, .c6-12345 .c6-4, .c6-12345 .c6-5,
		.c6-23456 .c6-2, .c6-23456 .c6-3, .c6-23456 .c6-4, .c6-23456 .c6-5, .c6-23456 .c6-6 {
			width: ((100% -((4) * $five-sixths-margins)) / 5);
		}

		/* c6-xxxxx > 2/5 */
		.c6-12345 .c6-12, .c6-12345 .c6-23, .c6-12345 .c6-34, .c6-12345 .c6-45,
		.c6-23456 .c6-2, .c6-23456 .c6-34, .c6-23456 .c6-45, .c6-23456 .c6-56 {
			width: ((100% -((4) * $five-sixths-margins)) * (2/ 5)) + (1 * $five-sixths-margins);
		}

		/* c6-xxxxx > 3/5 */
		.c6-12345 .c6-123, .c6-12345 .c6-234, .c6-12345 .c6-345,
		.c6-23456 .c6-234, .c6-23456 .c6-345, .c6-23456 .c6-456 {
			width: ((100% -((4) * $five-sixths-margins)) * (3/ 5)) + (2 * $five-sixths-margins);
		}

		/* c6-xxxxx > 4/5 */
		.c6-12345 .c6-1234, .c6-12345 .c6-2345,
		.c6-23456 .c6-2345, .c6-23456 .c6-3456 {
			width: ((100% -((4) * $five-sixths-margins)) * (4/ 5)) + (3 * $five-sixths-margins);
		}

	/* children of c6-xxxx */

		/* c6-xxxx > 1/4 */
		.c6-1234 .c6-1, .c6-1234 .c6-2, .c6-1234 .c6-3, .c6-1234 .c6-4,
		.c6-2345 .c6-2, .c6-2345 .c6-3, .c6-2345 .c6-4, .c6-2345 .c6-5,
		.c6-3456 .c6-3, .c6-3456 .c6-4, .c6-3456 .c6-5, .c6-3456 .c6-6 {
			width: ((100% -((4 - 1) * $two-thirds-margins)) / 4);
		}

		/* c6-xxxx > 1/2 */
		.c6-1234 .c6-12, .c6-1234 .c6-23, .c6-1234 .c6-34,
		.c6-2345 .c6-23, .c6-2345 .c6-34, .c6-2345 .c6-45,
		.c6-3456 .c6-34, .c6-3456 .c6-45, .c6-3456 .c6-56 {
			width: ((100% -((4 - 1) * $two-thirds-margins)) / 2) + (1 * $two-thirds-margins);
		}

		/* c6-xxxx > 3/4 */
		.c6-1234 .c6-123, .c6-1234 .c6-234,
		.c6-2345 .c6-234, .c6-2345 .c6-345,
		.c6-3456 .c6-345, .c6-3456 .c6-456 {
			width: ((100% -((4 - 1) * $two-thirds-margins)) * (3/4)) + (2 * $two-thirds-margins);
		}

	/* children of c6-xxx */

		/* c6-xxx > 1/3 */
		.c6-123 .c6-1, .c6-123 .c6-2, .c6-123 .c6-3,
		.c6-234 .c6-2, .c6-234 .c6-3, .c6-234 .c6-4,
		.c6-345 .c6-3, .c6-345 .c6-4, .c6-345 .c6-5,
		.c6-456 .c6-4, .c6-456 .c6-5, .c6-456 .c6-6 {
			width: ((100% -((3 - 1) * $half-margins)) / 3);
		}

		/* c6-xxx > 2/3 */

		.c6-123 .c6-12, .c6-123 .c6-23,
		.c6-234 .c6-23, .c6-234 .c6-34,
		.c6-345 .c6-34, .c6-345 .c6-45,
		.c6-456 .c6-45, .c6-456 .c6-56 {
			width: ((100% - (2 * $half-margins)) * (2 / 3)) + (1 * $half-margins);
		}

	/* children of c6-xx */

		/* c6-xxx > 1/2 */
		.c6-12 .c6-1, .c6-12 .c6-2, .c6-12 .c6-3,
		.c6-23 .c6-2, .c6-23 .c6-3, .c6-23 .c6-4,
		.c6-34 .c6-3, .c6-34 .c6-4, .c6-34 .c6-5,
		.c6-45 .c6-4, .c6-45 .c6-5, .c6-45 .c6-6,
		.c6-56 .c6-4, .c6-56 .c6-5, .c6-56 .c6-6 {
			width: ((100% -((2 - 1) * $third-margins)) / 2);
		}

	/* children of c4-xxx */

		/* .c4-xxx > 1/3 */

		.c4-123 .c4-1, .c4-123 .c4-2, .c4-123 .c4-3,
		.c4-234 .c4-2, .c4-234 .c4-3, .c4-234 .c4-4 {
			width: ((100% -((3 - 1) * $three-quarters-margins)) * (1/3));
		}

		/* .c4-xxx > 2/3 */

		.c4-123 .c4-12, .c4-123 .c4-23,
		.c4-234 .c4-23, .c4-234 .c4-34 {
			width: ((100% -((3 - 1) * $three-quarters-margins)) * (2/3)) + (1 * $three-quarters-margins);
		}

	/* children of c4-xx */

		/* .c4-xx > 1/2 */

		.c4-12 .c4-1, .c4-12 .c4-2,
		.c4-23 .c4-2, .c4-23 .c4-3,
		.c4-34 .c4-3, .c4-34 .c4-4 {
			width: ((100% -((1) * $half-margins)) / 2 );
		}


	/* 100% */
	.c6-1 .c6-1, .c6-2 .c6-2, .c6-3 .c6-3, .c6-4 .c6-4, .c6-5 .c6-5, .c6-6 .c6-6,
	.c6-12 .c6-12, .c6-23 .c6-23, .c6-34 .c6-34, .c6-45 .c6-45, .c6-56 .c6-56,
	.c6-123 .c6-123, .c6-234 .c6-234, .c6-345 .c6-345, .c6-456 .c6-456,
	.c6-1234 .c6-1234, .c6-2345 .c6-2345, .c6-3456 .c6-3456,
	.c6-12345 .c6-12345, .c6-23456 .c6-23456,
	.c6-123456 .c6-123456,
	.c4-1 .c4-1, .c4-2 .c4-2, .c4-3 .c4-3, .c4-4 .c4-4,
	.c4-12 .c4-12, .c4-23 .c4-23, .c4-34 .c4-34,
	.c4-123 .c4-123, .c4-234 .c4-234,
	.c4-1234 .c4-1234 {
		width: 100%;
	}
}


/* Full-width
These classes are not included in column float definitions, since they don't
have either margin or fixed width. Including display:block and width styles
so these classes can be used on non-block-level elements. */
.c6-123456,
.c4-1234 {
	clear: both;
	display: block;
	min-height: 1px;
	width: auto;
}

/* zeroing out leftmost.unit margins */
.c6-1,.c6-12,.c6-123,.c6-1234,.c6-12345,
.c4-1,.c4-12,.c4-123 {
	margin-left: 0;
}
/* zeroing out leftmost nested .unit margins */
.c6-2 .c6-2,.c6-23 .c6-2,.c6-23 .c6-23,.c6-234 .c6-2,.c6-234 .c6-23,.c6-234 .c6-234,.c6-2345 .c6-2,.c6-2345 .c6-23,.c6-2345 .c6-234,.c6-2345 .c6-2345,.c6-23456 .c6-2,.c6-23456 .c6-23,.c6-23456 .c6-234,.c6-23456 .c6-2345,.c6-23456 .c6-23456,
.c6-3 .c6-3,.c6-34 .c6-3,.c6-34 .c6-34,.c6-345 .c6-3,.c6-345 .c6-34,.c6-345 .c6-345,.c6-3456 .c6-3,.c6-3456 .c6-34,.c6-3456 .c6-345,.c6-3456 .c6-3456,
.c6-4 .c6-4,.c6-45 .c6-4,.c6-45 .c6-45,.c6-456 .c6-4,.c6-456 .c6-45,.c6-456 .c6-456,
.c6-5 .c6-5,.c6-56 .c6-5,.c6-56 .c6-56,
.c6-6 .c6-6,
.c4-2 .c4-2,.c4-23 .c4-2,.c4-23 .c4-23,.c4-234 .c4-2,.c4-234 .c4-23,.c4-234 .c4-234,
.c4-3 .c4-3,.c4-34 .c4-3,.c4-34 .c4-34 {
	margin-left: 0;
}

/** grid utilities
 -------------------------------------------------- */
/* Row Clearfix
Uses variation of Nicolas Gallagher's Micro Clearfix.
http://nicolasgallagher.com/micro-clearfix-hack/ */
.row:before,
.row:after {
	content:"";
	display:table;
}
.row:after {
	clear:both;
}
.row {
	/* Just in case: make sure that rows clear outside floats. */
	clear: both;
	/* For IE 6/7 (trigger hasLayout) */
	zoom:1;
}

/** grid helper classes
 -------------------------------------------------- */
/* Set overflow:hidden to crop overflow content.
Good for user-generated content. Use this class if you want to support IE6 -- it has issues with overflow.
Example usage: .grid.hideoverflow. */
.hideoverflow .c6-1, .hideoverflow .c6-2, .hideoverflow .c6-3, .hideoverflow .c6-4, .hideoverflow .c6-5, .hideoverflow .c6-6,
.hideoverflow .c4-1, .hideoverflow .c4-2, .hideoverflow .c4-3, .hideoverflow .c4-4,
.hideoverflow .c6-12, .hideoverflow .c6-123, .hideoverflow .c6-1234, .hideoverflow .c6-12345, .hideoverflow .c6-123456,
.hideoverflow .c6-23, .hideoverflow .c6-234, .hideoverflow .c6-2345, .hideoverflow .c6-23456,
.hideoverflow .c6-34, .hideoverflow .c6-345, .hideoverflow .c6-3456,
.hideoverflow .c6-45, .hideoverflow .c6-456, .hideoverflow .c6-56,
.hideoverflow .c4-12, .hideoverflow .c4-123, .hideoverflow .c4-1234,
.hideoverflow .c4-23, .hideoverflow .c4-234,
.hideoverflow .c4-34 {
	overflow: hidden;
}